$primary-color: #003d79;
$seconday-color: #4a4a4a;
$grey-color: #aeaeae;
$paragraph-color: #666666;
$black-color: #222222;
$blue-dark-color: #003f7d;
$blue-light-color: #006cae;
$white-color: #ffffff;
$red-color: #ec2b31;
$blue-color: #0052a3;
$purple-color: #5800d2;
$grey-light-color: #828282;
$red-light-color: #ea6468;
$purple-light-color: #7e41d1;
$grey-dark: #242424;
$grey-text: #50585d;
$yellow-color: #f7b518;
